@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-image: url(../images/music.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


div#wrap {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}
h1 {
    font-size: 100px;
    padding: 150px 0;
}

.keys {
    width: 732px;
    display: flex;
    justify-content: space-around;
}
.key {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    /* background-color: rgba(0,0,0,0.2); */
    position: relative;
    left: 233px;
    top: -120px;
}
.key kbd {
    width: 80px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 4px;
    display: inline-block;
}
.key span {
    color: #ddd;
    font-weight: bold;
}